@model plataformaMotVer6.Models.TblUsuarios

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <div>
        <h1>Bienvenido a MÖT</h1>
    </div>
    <div>
        <h2>Plataforma para el registro y control de las horas de bienestar de los aprendices del Centro de Diseño y Metrología</h2>
    </div>
    <div>
        <h2><a href="@Url.Action("Login","Home")" class="ml-2">Iniciar Sesión</a></h2>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <br />
    <div>
        @Html.ActionLink("¿Olvidaste tu contraseña?", "ForgotPassword", "Password")
    </div>

</body>
</html>
