@model plataformaMotVer6.Models.TblActividadesViewModel

@{
    ViewBag.Title = "";
}


@if (ViewBag.TipoDocumento != null || ViewBag.Categoria != null)
{
    using (Html.BeginForm("Activities", "ActivitiesBienestar", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="filter-form-container">
            <div class="row mb-4">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.IdActividad, "Nº de la Actividad:", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.IdActividad, new { @readonly = "readonly", @class = "form-control", @id = "IdActividad_Insert" })
                    @Html.ValidationMessageFor(model => model.IdActividad, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.NombreActividad, "Nombre de la Actividad:", htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.NombreActividad, new { @class = "form-control", @id = "NombreActividad_Insert" })
                    @Html.ValidationMessageFor(model => model.NombreActividad, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.Categoria, "Categoría:", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Categoria, ViewBag.Categorias as SelectList, "Seleccione una categoría", new { @class = "form-control", @id = "Categoria_Insert" })
                    @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.HorasAsignadas, "Horas Asignadas:", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.HorasAsignadas, new { @class = "form-control", type = "number", @id = "HorasAsignadas_Insert" })
                    @Html.ValidationMessageFor(model => model.HorasAsignadas, "", new { @class = "text-danger" })
                </div>


                <div class="col-md-4">
                    @Html.LabelFor(model => model.FechaInicio, "Fecha de Inicio:", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control", placeholder = "dd-mm-yyyy", @id = "FechaInicio_Insert" })
                    @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.FechaFinalizacion, "Fecha de Finalización:", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.FechaFinalizacion, new { @class = "form-control", placeholder = "dd-mm-yyyy", @id = "FechaFinalizacion_Insert" })
                    @Html.ValidationMessageFor(model => model.FechaFinalizacion, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.Descripcion, "Descripción:", htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @id = "Descripcion_Insert" })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.TipoDocumentoBienestar, "Tipo de documento:", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.TipoDocumentoBienestar, new SelectList(ViewBag.TipoDocumento, "Value", "Text"), "Seleccione Tipo de Documento", new { @class = "form-control", @id = "TipoDocumentoBienestar_Insert" })
                    @Html.ValidationMessageFor(model => model.TipoDocumentoBienestar, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.NumeroDocumentoBienestar, "Número de Documento:", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.NumeroDocumentoBienestar, new { @class = "form-control", type = "number", @id = "NumeroDocumentoBienestar_Insert" })
                    @Html.ValidationMessageFor(model => model.NumeroDocumentoBienestar, "", new { @class = "text-danger" })
                </div>
            </div>
            <br/>
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <button type="submit" name="Boton" value="Agregar" class="btn btn-warning mx-">Agregar</button>
                    <button type="button" class="btn btn-secondary" onclick="cleanInsertForm()">Limpiar</button>
                </div>

            </div>
        </div>
        <br />
     
    }
}



