@model plataformaMotVer6.Models.ViewModel.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<div class="row">
    <div class="col-md-6 offset-6">
        <div class="form-style">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" , style="color:red;">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            }

            @if (ViewBag.EmailSent != null && (bool)ViewBag.EmailSent)
            {
                <div class="alert alert-success" style="color: green;">
                    @TempData["EmailSentMessage"] @*Hemos enviado un correo de recuperación a la dirección de correo electrónico asociada a esta plataforma.*@
                </div>
            }



            @if (TempData["EmailSentMessage"] != null)
            {
                <div class="alert alert-success" style="color: green;">
                    @TempData["EmailSentMessage"]
                    <span id="countdown" style="margin-left: 20px;"></span> Cuenta regresiva
                </div>
            }


            @*@if (TempData["EmailSentMessage"] != null)
              {
            <script>
            setTimeout(function () {
             window.location.href = '@Url.Action("Home", "Home")';
            }, 7000); // Redirigir después de 5 segundos
            </script>
              }*@

            @*Cuenta regresiva. Redirige después de 7 s*@ 
            @if (TempData["EmailSentMessage"] != null)
            {
                <script>
                    var seconds = 7;
                    var countdownElement = document.getElementById("countdown");
                    countdownElement.textContent = "Redirigiendo en " + seconds + " segundos...";

                    var intervalId = setInterval(function ()
                    {
                        seconds--;
                        if (seconds < 0) {
                            clearInterval(intervalId);
                            window.location.href = '@Url.Action("Home", "Home")';
                        } else {
                            countdownElement.textContent = "Redirigiendo en " + seconds + " segundos...";
                        }
                    }, 1000);
                </script>
            }


            <form action="@Url.Content("~/Password/ForgotPassword")" method="post">
                <label>Escribe tu correo electrónico</label>
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(d => d.Correo, null, new { @class = "form-control", name = "correo" })

                <br />
                <div class="text-right">
                    <button class="btn btn-primary">Recuperar</button>
                </div>

                <br />
                <div>
                    @Html.ActionLink("Volver al inicio", "Home", "Home")
                </div>

            </form>
        </div>
    </div>
</div>

