@model plataformaMotVer6.Models.ViewModel.RecoverPasswordViewModel

@{
    ViewBag.Title = "RecoverPassword";
    Layout = null;
}

<head>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Otros scripts y estilos -->
</head>

<div class="row">
    <div class="col-md-6 offset-6">
        <div class="form-style">

            @using (Html.BeginForm("RecoverPassword", "Password", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.Correo)
                @Html.HiddenFor(model => model.Token_recuperacion)

                if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger" style="color:red;">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                }

                if (ViewBag.PasswordChanged != null && (bool)ViewBag.PasswordChanged)
                {
                <div class="alert alert-success" style="color: green;">
                    @ViewBag.Message
                </div>
                 }

                <label>Escribe tu nueva contraseña</label>
                @Html.PasswordFor(model => model.NuevaClave, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NuevaClave, "", new { @class = "text-danger" })

                <label>Confirma tu nueva contraseña</label>
                @Html.PasswordFor(model => model.ConfirmarClave, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmarClave, "", new { @class = "text-danger" })

                <br />
                <div class="text-right">
                    <button class="btn btn-primary">Cambiar contraseña</button>
                </div>

                <br />
                <div>
                    @Html.ActionLink("Volver al inicio", "Home", "Home")
                </div>
            }
        </div>
    </div>
</div>
